
@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div id="header"></div>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Home</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="#">Useful Links</a> <span class="divider">/</span>
                </li>
                <li class="active">
                    Contacts
                </li>
            </ul>
            <div class="row-fluid">
                <div id="cont" class="span6">
                    <h3>@ViewBag.Message</h3>

                    <address>
                        Universidade do Algarve<br />
                        Campus de Gambelas<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>

                    <address>
                        <strong>Support:</strong>   <a href="mailto:a11709@ualg.pt">a11709@ualg.pt</a><br />
                    </address>
                    <p><strong>UNIVERSITY OF ALGARVE </strong><br /><u>Official Address</u>:</p>

                    <p>
                        <em>Universidade do Algarve</em><br />
                        Campus da Penha,<br />
                        8005-139 Faro – PORTUGAL
                    </p>

                    <p><u>Tel</u>: +351 289 800 100 / +351 289 800 900<br /><u>E-mail</u>: <a href="mailto:info@ualg.pt">info@ualg.pt</a><br /><u>Website</u>: <a href="http://www.ualg.pt/home/en">www.ualg.pt</a></p>

                    <p> </p>

                    <p><strong>INTERNATIONAL AND MOBILITY OFFICE</strong></p>

                    <p><u>Address</u>:</p>

                    <p>
                        <em>Gabinete de Relações Internacionais e Mobilidade</em><br />
                        Campus de Gambelas, Edf 5<br />
                        8005-139 Faro – PORTUGAL
                    </p>

                    <p><u>Tel</u>: +351 289 800 003<br /><u>Fax</u>: +351 289 800 025<br /><u>E-mail</u>:  <a href="mailto:gri@ualg.pt">gri@ualg.pt</a> / <a href="mailto:mobilidade@ualg.pt">mobilidade@ualg.pt</a></p>

                    <p> </p>

                    <p><strong>ACADEMIC SERVICES</strong><br /><u>Address</u><strong>:</strong></p>

                    <p>
                        <em>
                            Serviços Académicos<br />
                            Campus
                        </em> da Penha<br />
                        8005-139 Faro – PORTUGAL
                    </p>

                    <p>
                        <u>Tel</u><strong>:</strong> +351.289 800 100 / +351.289 800 900<br /><u>Fax</u><strong>:</strong> +351.289 888 407<br /><u>Email</u><strong>:</strong> <a href="mailto:acad@ualg.pt">acad@ualg.pt</a><br />
                    </p>

                    <p><strong>UNIVERSITY SOCIAL AND WELFARE SERVICES </strong><br /><u>Address</u>:</p>

                    <p>
                        <em>Serviços de Ação Social </em>(SAS)<br /><em>Campus</em> da Penha<br />
                        8005-139 Faro – PORTUGAL
                    </p>

                    <p><u>Tel</u><strong>:</strong> +351.289 882 556<br /><u>Fax</u><strong>:</strong> +351.289 818 780</p>

                    <p> </p>

                    <p><strong>UNIVERSITY MEDICAL SERVICES</strong><br /><u>Address</u><strong>:</strong></p>

                    <p>
                        <em>Serviços Médico-Sociais</em><br />
                        Urbanização do Ferragial, No. 17, r/c<br />
                        8000 Faro – PORTUGAL
                    </p>

                    <p><u>Tel</u>.: +351.289 826 347</p>

                    <p> </p>

                    <p><strong>FACULTIES AND SCHOOLS</strong></p>

                    <p><strong>School of Education and Communication (ESEC)</strong><br /><u>Address</u>:</p>

                    <p>
                        <em>Escola Superior de Educação e Comunicação </em>(ESEC)<br /><em>Campus</em> da Penha<br />
                        8005-139 Faro – Portugal
                    </p>

                    <p>
                        General Enquiries: <a href="mailto:esesec@ualg.pt">esesec@ualg.pt</a><br />
                        Mobility Coordinator: <a href="mailto:mobesec@ualg.pt">mobesec@ualg.pt</a><br />
                    </p>

                    <p><strong>School</strong><strong> of Management</strong><strong>, Hospitality and Tourism</strong><strong> (ESGHT<em>)</em></strong><br /><u>Address</u>:</p>

                    <p>
                        <em>Escola Superior de Gestão, Hotelaria e Turismo </em>(ESGHT)<br /><em>Campus</em> da Penha<br />
                        8005-139 Faro – Portugal
                    </p>

                    <p>
                        General Enquiries: <a href="mailto:diretoresght@ualg.pt">diretoresght@ualg.pt</a><br />
                        Mobility Coordinator:  <a href="mailto:mobesght@ualg.pt">mobesght@ualg.pt</a>
                    </p>

                    <p> </p>

                    <p><strong>Institute</strong><strong> of Engineering</strong> <strong>(ISE<em>)</em></strong><br /><u>Address</u>:</p>

                    <p>
                        <em>Instituto Superior de engenharia</em> (ISE)<br /><em>Campus</em> da Penha<br />
                        8005-139 Faro – Portugal
                    </p>

                    <p>
                        General Enquiries: <a href="mailto:ise@ualg.pt">ise@ualg.pt</a><br />
                        Mobility Coordinator:  <a href="mailto:mobise@ualg.pt">mobise@ualg.pt</a>
                    </p>

                    <p> </p>

                    <p><strong>Faculty of Human and Social Sciences</strong><strong>  (FCHS)</strong><br /><u>Address</u>:</p>

                    <p>
                        <em>Faculdade de Ciências Humanas e Sociais</em> (FCHS)<br /><em>Campus</em> de Gambelas, Edifício 1<br />
                        8005-139 Faro – Portugal
                    </p>

                    <p>
                        General Enquiries: <a href="mailto:fchs@ualg.pt">fchs@ualg.pt</a><br />
                        Mobility Coordinator:  <a href="mailto:mobfchs@ualg.pt">mobfchs@ualg.pt</a>
                    </p>

                    <p> </p>

                    <p><strong>Faculty of Economics</strong><strong> (FE)</strong><br /><u>Address</u>:</p>

                    <p>
                        <em>Faculdade de Economia </em>(FE)<br /><em>Campus</em> de Gambelas, Edifício 9<br />
                        8005-139 Faro – Portugal
                    </p>

                    <p>
                        General Enquiries: <a href="mailto:diretorfeualg@ualg.pt">diretorfeualg@ualg.pt</a><br />
                        Mobility Coordinator:  <a href="mailto:mobfe@ualg.pt">mobfe@ualg.pt</a>
                    </p>

                    <p> </p>

                    <p><strong>Faculty of Sciences and Technology </strong><strong>(FCT)</strong></p>

                    <p><u>Address</u>:</p>

                    <p>
                        <em>Faculdade de Ciências e Tecnologia</em> (FCT)<br /><em>Campus</em> de Gambelas, Edifício 2<br />
                        8005-139 Faro – Portugal
                    </p>

                    <p>
                        General Enquiries: <a href="mailto:fct@ualg.pt">fct@ualg.pt</a><br />
                        Mobility Coordinator: <a href="mailto:mobfct@ualg.pt">mobfct@ualg.pt</a>
                    </p>

                    <p> </p>

                    <p><strong>Department of Biomedical Sciences and Medicine (DCBM)</strong><br /><u>Address</u>:</p>

                    <p>
                        <em>Departamento de Ciências Biomédicas e Medicina</em> (DCBM)<br /><em>Campus</em> de Gambelas, Edifício 7<br />
                        8005-139 Faro – Portugal
                    </p>

                    <p>
                        General Enquiries: <a href="mailto:medicina@ualg.pt">medicina@ualg.pt</a><br />
                        Mobility Coordinator: <a href="mailto:mobdcbm@ualg.pt">mobdcbm@ualg.pt</a>
                    </p>

                    <p> </p>

                    <p><strong>School</strong><strong> of Health</strong><strong> (ESSUAlg)</strong><br /><u>Address</u>:</p>

                    <p>
                        <em>Escola Superior de Saúde</em> (ESSUAlg)<br />
                        Av. Dr. Adelino da Palma Carlos<br />
                        8000-510 Faro – Portugal
                    </p>

                    <p>
                        General Enquiries: <a href="mailto:diretoressualg@ualg.pt">diretoressualg@ualg.pt</a><br />
                        Mobility Coordinator: <a href="mailto:mobess@ualg.pt">mobess@ualg.pt</a>
                    </p>

                    <p> </p>

                    <p><strong>STUDENT UNION</strong><br /><u>Address</u>:</p>

                    <p style="margin-left: 1cm; font-size: 14px; line-height: 21px; text-align: justify;">
                        <em>Associação Académica da Universidade do Algarve</em> (AAUAlg)<br />
                        Campus da Penha<br />
                        8005-139 Faro
                    </p>

                    <p><u>Tel.</u>: +351.289 888 444<br /><u>Fax</u>: +351.289 888 440<br /><u>E-mail</u>: <a href="mailto:geral@aaualg.pt">geral@aaualg.pt</a><br /><u>Website</u>: <a href="http://www.aaualg.pt/">www.aaualg.pt</a></p>

                    <p> </p>

                    <p><strong>USEFUL CONTACTS IN FARO</strong></p>

                    <table border="1" cellpadding="1" cellspacing="1" style="font-size: 14px; line-height: 21px; text-align: justify; width: 476px; height: 254px;">
                        <tbody>
                            <tr>
                                <td>Faro Airport  (<em>Aeroporto de Faro</em>)</td>
                                <td style="text-align: right;">289 800 800</td>
                            </tr>
                            <tr>
                                <td>Faro Train Station (<em>CP – Caminhos de Ferro Portugueses</em>)</td>
                                <td style="text-align: right;">289 826 472</td>
                            </tr>
                            <tr>
                                <td>Eva Bus Services in Faro (<em>Transportes Eva</em>)</td>
                                <td style="text-align: right;">289 899 700</td>
                            </tr>
                            <tr>
                                <td>Faro National Republican Guard (<em>GNR</em>)</td>
                                <td style="text-align: right;">289 803 179</td>
                            </tr>
                            <tr>
                                <td>Faro Public Security Police (<em>PSP</em>)</td>
                                <td style="text-align: right;">289 822 022</td>
                            </tr>
                            <tr>
                                <td>District Hospital of Faro (<em>Hospital Distrital de Faro</em>)</td>
                                <td style="text-align: right;">289 891 100</td>
                            </tr>
                            <tr>
                                <td>Taxis</td>
                                <td style="text-align: right;">289 895 790</td>
                            </tr>
                        </tbody>
                    </table><p> </p>

                    <p><strong>City Hall</strong><strong> of Faro</strong><br /><u>Address</u>:</p>

                    <p style="margin-left: 1cm; font-size: 14px; line-height: 21px; text-align: justify;">
                        <em>Câmara de Faro</em><br />
                        Rua do Município<br />
                        8000-398 Faro – PORTUGAL
                    </p>

                    <p><u>Tel</u>.: + 351.289 870 870<br /><u>Fax</u>: +351.289 802 326<br /><u>Email</u>: <a href="mailto:geral@cm-faro.pt">geral@cm-faro.pt</a><br /><u>Website</u>: <a href="http://www.cm-faro.pt/" target="PaginaDeRedireccionamento" title="www.cm-faro.pt Vai ser redireccionado para uma página externa.">www.cm-faro.pt</a></p>

                    <p> </p>

                    <p>
                        <strong>EMBASSIES IN LISBON and CONSULATES IN ALGARVE</strong><br />
                    </p>

                    <table border="1" cellpadding="1" cellspacing="1" style="font-size: 14px; line-height: 21px; text-align: justify; width: 276px; height: 667px;">
                        <tbody>
                            <tr>
                                <td colspan="2"><strong>EMBASSIES IN LISBON</strong></td>
                            </tr>
                            <tr>
                                <td>Angola</td>
                                <td style="text-align: right;">217 967 041</td>
                            </tr>
                            <tr>
                                <td>Austria</td>
                                <td style="text-align: right;">213 958 220</td>
                            </tr>
                            <tr>
                                <td>Belgium</td>
                                <td style="text-align: right;">213 170 510</td>
                            </tr>
                            <tr>
                                <td>Brazil</td>
                                <td style="text-align: right;">217 248 510</td>
                            </tr>
                            <tr>
                                <td>Cabo Verde</td>
                                <td style="text-align: right;">213 041 440</td>
                            </tr>
                            <tr>
                                <td>Canada</td>
                                <td style="text-align: right;">213 164 600</td>
                            </tr>
                            <tr>
                                <td>Finland</td>
                                <td style="text-align: right;">213 933 040</td>
                            </tr>
                            <tr>
                                <td>France</td>
                                <td style="text-align: right;">213 939 100</td>
                            </tr>
                            <tr>
                                <td>Germany</td>
                                <td style="text-align: right;">218 810 210</td>
                            </tr>
                            <tr>
                                <td>Great Britain</td>
                                <td style="text-align: right;">213 924 000</td>
                            </tr>
                            <tr>
                                <td>Ireland</td>
                                <td style="text-align: right;">213 929 440</td>
                            </tr>
                            <tr>
                                <td>Moçambique</td>
                                <td style="text-align: right;">217 971 994</td>
                            </tr>
                            <tr>
                                <td>Netherlands</td>
                                <td style="text-align: right;">213 914 900</td>
                            </tr>
                            <tr>
                                <td>Norway</td>
                                <td style="text-align: right;">213 015 344</td>
                            </tr>
                            <tr>
                                <td>South Africa</td>
                                <td style="text-align: right;">213 192 200</td>
                            </tr>
                            <tr>
                                <td>Switzerland</td>
                                <td style="text-align: right;">213 944 090</td>
                            </tr>
                            <tr>
                                <td>USA</td>
                                <td style="text-align: right;">217 273 300</td>
                            </tr>
                        </tbody>
                    </table><p> </p>

                    <table border="1" cellpadding="1" cellspacing="1" style="font-size: 14px; line-height: 21px; text-align: justify; width: 276px; height: 470px;">
                        <tbody>
                            <tr>
                                <td colspan="2"><strong>CONSULATES IN ALGARVE</strong></td>
                            </tr>
                            <tr>
                                <td>Angola</td>
                                <td style="text-align: right;">289 897 100</td>
                            </tr>
                            <tr>
                                <td>Austria</td>
                                <td style="text-align: right;">289 510 900</td>
                            </tr>
                            <tr>
                                <td>Belgium</td>
                                <td style="text-align: right;">289 899 590</td>
                            </tr>
                            <tr>
                                <td>Brazil</td>
                                <td style="text-align: right;">289 096 211</td>
                            </tr>
                            <tr>
                                <td>Canada</td>
                                <td style="text-align: right;">289 880 888</td>
                            </tr>
                            <tr>
                                <td>Finland</td>
                                <td style="text-align: right;">289 399 873</td>
                            </tr>
                            <tr>
                                <td>Germany</td>
                                <td style="text-align: right;">289 803 181</td>
                            </tr>
                            <tr>
                                <td>Great Britain</td>
                                <td style="text-align: right;">282 490 750</td>
                            </tr>
                            <tr>
                                <td>Netherlands</td>
                                <td style="text-align: right;">289 820 903</td>
                            </tr>
                            <tr>
                                <td>Norway</td>
                                <td style="text-align: right;">282 414 878</td>
                            </tr>
                            <tr>
                                <td>Spain</td>
                                <td style="text-align: right;">281 544 888</td>
                            </tr>
                            <tr>
                                <td>Sweden</td>
                                <td style="text-align: right;">
                                    289 355 213<br />
                                </td>
                            </tr>
                        </tbody>
                    </table><p> </p>
                    <p> </p>
                </div>
            </div>
        </div>
    </div>
</div>
