
@{
    ViewBag.Title = "Accommodation";
}
<style>
    #acc {
        width: 920px;
        left: 25%;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }

    img.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Campus</a></li>
    <li class="active"><a href="#">Accommodation</a></li>
</ol>
<h2>Accommodation</h2>
<div id="acc" class="row-fluid">
    <p><img class="center" src="/Images/acc.jpg" alt="accommodation" /></p><br>

    <p><span style="line-height: 1.6em;">The University of Algarve has several residence halls located in the city of Faro, in the Penha Campus, near the Gambelas Campus and in the Portimão Campus, in a total of 600 beds.</span></p>

    <p>The accommodation consists of common living rooms, single or double rooms, bathrooms, kitchens equipped with the necessary appliances, in addition to other existing equipment in the living rooms, such as television, video and music devices. You should check with the International and Mobility Office the daily or monthly prices.</p>

    <p>Although the University has limited places at the University Residences, mobility students may apply for accommodation when filling in the application form online, within the following time limits:</p>

    <p>- 31 May for the 1st semester or full academic year;</p>

    <p>- 31 October for the 2nd semester.</p>

    <p><br /><strong><span style="color:#3399ff;">Important: </span></strong>Please note that applying does not mean that you will get lodging!</p>

    <p>
        <br />
        In Faro, it is also possible to find a suitable room, with prices varying between 125 EUR and 200 EUR for a double room (shared) or between 200 EUR and 250 EUR for a single room. You should check local newspapers and clipboards in various places. The Student Union also has a list of available rooms for renting.
    </p>

    <p>If you are not able to have the confirmation for a University Residence Hall, arriving after working hours or during weekend, here are the contacts of some affordable places where you can stay for few days, until you find a more permanent place:</p>

    <p>- Youth Hostel – <a href="mailto:faro@movijovem.pt">faro@movijovem.pt</a></p>

    <p>- Casa d’Alagoa – <a href="mailto:farohostel@gmail.com">farohostel@gmail.com</a></p>

    <p><br /><span style="color:#3399ff;"><strong>Note: </strong></span>The International and Mobility Office of the University of Algarve can also help you with contacts to find private accommodation upon arrival.</p>

    <p>
        <br />
        Students are strongly advised to inform the International and Mobility Office of way of travel, date and time of arrival.
    </p>

    <p>The best is to arrive in a working day and during working hours for assistance if needed. However, if impossible this Office and the Student Union will try to help.</p>

    <p>University offices are open Monday to Friday from 9:00 to 12:30 and 14:00 to 17:00. </p>


</div>
