@{
    ViewBag.Title = "Faculty";
}
<style>
    h2 {
        text-align: center;
    }
    .span4{
        text-align: justify;
    }
</style>
<h2>Faculties and Schools</h2>
            <div class="panel-group" id="panel-799103">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-799103" href="#panel-element-660882">School of Education and Communication</a>
                    </div>
                    <div id="panel-element-660882" class="panel-collapse collapse">
                        <div class="panel-body" style="float:left;">
                            <p class="span4" style="display:inline;"><img src="/Images/esec_1a.jpg" /></p>
                            <div class="span4" style="display:inline;">
                                <p>Established in 1984, the School of Education and Communication (Escola Superior de Educação e Comunicação - ESEC) is one of the seven Schools and Faculties of the University of Algarve. It is a centre for creation and dissemination of knowledge in the areas of education, culture, arts, technology and science. Besides awarding polytechnic degrees, it provides in-service, specialized, and advanced training as part of a lifelong learning policy. It is committed to undertaking knowledge transfer and promoting research in its key scientific areas. It provides services to the community and cooperates with public and private institutions within the scope of training, research and development programmes.</p>

                                <p>It is highly motivated to make a substantial contribution to its areas of intervention, yet without losing sight of its specificity as a training institution, which is in a close relationship with both the regional and international communities, especially through student exchange programmes and international projects.</p>

                                <p><strong>Address:</strong></p>

                                <p>Escola Superior de Educação e Comunicação (ESEC)</p>

                                <p>Campus da Penha 8005-139 Faro - PORTUGAL</p>

                                <p>General Enquiries: <a href="mailto:esec@ualg.pt">esec@ualg.pt</a></p>

                                <p>Mobility Coordinator: <a href="mailto:mobesec@ualg.pt">mobesec@ualg.pt</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-799103" href="#panel-element-793020">School of Management, Hospitality and Tourism</a>
                    </div>
                    <div id="panel-element-793020" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p class="span4" style="display:inline;"><img src="/Images/esght_0.jpg" /></p>
                            <div class="span4" style="display:inline;">
                                <p>The School of Management, Hospitality and Tourism (Escola Superior de Gestão, Hotelaria e Turismo - ESGHT) is based at the Penha Campus in Faro and also in Portimão Campus (located 70 km west of Faro), running daytime and evening programmes.</p>

                                <p>In order to give students a smooth pathway into the professional world, all the undergraduate courses include an internship in an outside company or organization, which helps graduates to obtain their first job. Every year, approximately 350 students are involved in this process.</p>

                                <p>Undergraduate courses are the main focus, with 1,700 students enrolled in six different programmes: Business Studies; Hotel Management; Marketing; Secretarial Studies; Tourism Information and Entertainment; and Tourism Studies. It also offers two master programmes in Tourism Marketing and in Tourism and Urban Cultures.</p>

                                <p>The School offers good facilities, including audio-visual equipment in the classrooms and computer labs, and provides an atmosphere that ismuch appreciated by national and international students.</p>

                                <p><strong>Address:</strong></p>

                                <p>Escola Superior de Gestão, Hotelaria e Turismo (ESGHT)</p>

                                <p>Campus da Penha</p>

                                <p>8005-139 Faro - PORTUGAL</p>

                                <p>General Enquiries: <a href="mailto:esght@ualg.pt">esght@ualg.pt</a></p>

                                <p>Mobility Coordinator: <a href="mailto:mobesght@ualg.pt">mobesght@ualg.pt</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-799103" href="#panel-element-793021">School of Health</a>
                    </div>
                    <div id="panel-element-793021" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p class="span4" style="display:inline;"><img src="/Images/ess_0.jpg" /></p>
                            <div class="span4" style="display:inline;">
                                <p>The School of Health (Escola Superior de Saúde – ESSUAlg) is a structure unit of the University of Algarve. It counts on a dynamic group of both Professors and Researchers, articulating the long teaching experience of senior Professors, with the energy of a group of young Researchers, highly dedicated to form qualified professionals in the Health field, through both undergraduate and Master courses.</p>

                                <p>This multidisciplinary qualified team has also developed several community services that help promote new areas of investigation, which have been recognized through several national and international awards. The School of Health is situated in the Saúde Campus at the entrance of the city, and was integrated into the University of Algarve in June 2003, providing new facilities and offering new degrees in the Health Sciences.</p>

                                <p> </p>

                                <p><strong>Address:</strong></p>

                                <p>Escola Superior de Saúde (ESSUAlg)</p>

                                <p>Av. Dr. Adelino da Palma Carlos</p>

                                <p>8000-510 Faro - PORTUGAL</p>

                                <p>General Enquiries: <a href="mailto:ess@ualg.pt">ess@ualg.pt</a></p>

                                <p>Mobility Coordinator: <a href="mailto:mobess@ualg.pt">mobess@ualg.pt</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-799103" href="#panel-element-793022">Institute of Engineering</a>
                    </div>
                    <div id="panel-element-793022" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p class="span4" style="display:inline;"><img src="/Images/ise4.jpg" /></p>
                            <div class="span4" style="display:inline;">
                                <p>The Institute of Engineering (Instituto Superior de Engenharia - ISE) has as its main goal education and research in engineering and technology, covering the areas of Food, Civil, Electrical and Electronics, Mechanical and Survey Engineering. The ISE is a centre of creation, transmission and dissemination of culture and scientific and technological knowledge, more specifically:</p>

                                <ul>
                                    <li class="rtejustify">To provide updating courses, advanced and specialised advanced training, as well as pre-university courses of technological specialization;</li>
                                    <li>To promote applied research in the scientific areas developed in the ISE;</li>
                                    <li>To promote knowledge transfer to the community;</li>
                                    <li>To promote lifelong learning and training;</li>
                                    <li>To provide services to the community.</li>
                                </ul><p class="rtejustify">The ISE has several well-equipped laboratories and computer classrooms, library resources and online library access.</p>

                                <p> </p>

                                <p><strong>Address:</strong></p>

                                <p>Instituto Superior de Engenharia (ISE)</p>

                                <p>Campus da Penha</p>

                                <p>8005-139 Faro - PORTUGAL</p>

                                <p>General Enquiries: <a href="mailto:ise@ualg.pt">ise@ualg.pt</a></p>

                                <p>Mobility Coordinator: <a href="mailto:mobise@ualg.pt">mobise@ualg.pt</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-799103" href="#panel-element-793023">Faculty of Human and Social Sciences</a>
                    </div>
                    <div id="panel-element-793023" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p class="span4" style="display:inline;"><img src="/Images/fchs_2.jpg" /></p>
                            <div class="span4" style="display:inline;">
                                <p>The Faculty of Human and Social Sciences (Faculdade de Ciências Humanas e Sociais - FCHS) is a young faculty, thus having the energy and tenacity, characteristic of youth. Nevertheless, its staff has a long professional and academic history, dating back to the Exact and Human Sciences Department. The Humanities, the Arts and the Social Sciences, the three big intervention areas of FCHS, shape themselves within the large diversity of projects, undergraduate, graduate and doctoral degrees, as well as non-curricular courses and life-long learning courses offered by the faculty’s two departments: Arts and Humanities; and Psychology and Educational Sciences.</p>

                                <p>FCHS, constantly aware of social and cultural transformations, places upon itself the responsibility of keeping up-to-date, active, restless, nonconforming, but also vibrant and complex-free. It is conscious of its place within the University of Algarve, established through its short but unique history of affirmation in an unparalleled wealth. A wealth intrinsic to the identity of a University that strives to be both classical and modern: a richness in humanistic knowledge, which is ineffable and unquantifiable, allowing for a challenging encounter with the predicament of our human condition.</p>

                                <p><strong>Address:</strong></p>

                                <p>Faculdade de Ciências Humanas e Sociais (FCHS)</p>

                                <p>Campus de Gambelas, Edifício 1</p>

                                <p>8005-139 Faro - PORTUGAL</p>

                                <p>General Enquiries: <a href="mailto:fchs@ualg.pt">fchs@ualg.pt</a></p>

                                <p>Mobility Coordinator: <a href="mailto:mobfchs@ualg.pt">mobfchs@ualg.pt</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-799103" href="#panel-element-793024">Faculty of Sciences and Technology</a>
                    </div>
                    <div id="panel-element-793024" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p class="span4" style="display:inline;"><img src="/Images/fct.jpg" /></p>
                            <div class="span4" style="display:inline;">
                                <p>The Faculty of Sciences and Technology (Faculdade de Ciências e Tecnologia - FCT) from the University of Algarve develops its activity in the field of training and lifelong learning, research, as well as in scientific and technical dissemination in the fields of Biological Sciences and Bioengineering; Earth, Marine and Environmental Sciences; Electronics and Computer Engineering; Physics; Mathematics; and Chemistry and Pharmacy.</p>

                                <p>Its mission is to promote higher education supported by scientific research, developed in its five research centres, nationally and internationally recognized, thereby ensuring the completion of courses leading to the achievement of different degrees of higher education in high-tech fields constantly updated.</p>

                                <p>In pursuing its goals for excellence, FTC has established partnerships allowing its students and faculty staff unique opportunities to access international exchange programs at both training and research. The know-how established at FCT combined with the dynamics of its members, also allows the transfer of knowledge and technology as one of its effective contributions to society.</p>

                                <p><strong>Address:</strong></p>

                                <p>Faculdade de Ciências e Tecnologia (FCT)</p>

                                <p>Campus de Gambelas, Edifício 2</p>

                                <p>8005-139 Faro - PORTUGAL</p>

                                <p>General Enquiries: <a href="mailto:fct@ualg.pt">fct@ualg.pt</a></p>

                                <p>Mobility Coordinator: <a href="mailto:mobfct@ualg.pt">mobfct@ualg.pt</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-799103" href="#panel-element-793025">Faculty of Economics</a>
                    </div>
                    <div id="panel-element-793025" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p class="span4" style="display:inline;"><img src="/Images/51.jpg" /></p>
                            <div class="span4" style="display:inline;">
                                <p>The research developed at the Faculty of Economics (Faculdade de Economia - FE) of the University of Algarve covers a broad range of interests, mainly related to Economics, Management Sciences, Quantitative Methods and other Social Sciences. Its dynamic staff cooperates with a vast number of universities, research centers and private enterprises in Portugal, as well as abroad.</p>

                                <p>The Faculty of Economics confers Doctoral/PhD degrees (3rd cycle) in Tourism, in Innovation and Land Use Management, in Economic and Management Sciences, and in Quantitative Methods Applied to Economics and Management.</p>

                                <p>At Masters (2nd cycle) level, a considerable number of degrees is offered: Administration and Regional Development; Accounting; Economics; Economics of Innovation and Entrepreneurship; Tourism Economics and Regional Development; Finance; Tourism Organizations Management; Health Care Services Management; Business Management; Marketing; and Sociology - Mobilities and Identities.</p>

                                <p>At Bachelor (1st cycle) level this Faculty offers degrees in Economics, Business Administration, and Sociology.</p>

                                <p><strong>Address:</strong></p>

                                <p>Faculdade de Economia (FE)</p>

                                <p>Campus de Gambelas, Edifício 9</p>

                                <p>8005-139 Faro - PORTUGAL</p>

                                <p>General Enquiries: <a href="mailto:fe@ualg.pt">fe@ualg.pt</a></p>

                                <p>Mobility Coordinator: <a href="mailto:mobfe@ualg.pt">mobfe@ualg.pt</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-799103" href="#panel-element-793026">Department of Biomedical Sciences and Medicine</a>
                    </div>
                    <div id="panel-element-793026" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p class="span4" style="display:inline;"><img src="/Images/med.jpg" /></p>
                            <div class="span4" style="display:inline;">
                                <p>The Department of Biomedical Sciences and Medicine (Departamento de Ciências Biomédicas e Medicina - DCBM) has been set up as a special unit in 2008, temporarily under the Vice-Chancellor´s Office (Reitoria), while the new medical degree is developed. The Department offers courses in Biomedical Sciences at undergraduate, masters and doctoral levels. There are recently established laboratories carrying out world class research in the field of regenerative medicine, focusing on stem cell biology and organogenesis, cancer cell biology and cell therapies. This is run by a team of 11 senior scientists, soon to increase to 18, who also tutor the medical students.</p>

                                <p>More interestingly, the medical degree course offered by the DCBM presents important innovative and unique characteristics. It is the first 4-year, graduate entry course in Europe outside the United Kingdom and Ireland, the curriculum is based on Problem Based Learning and it is the first programme in Europe to offer clinical training clearly centred on primary care practice. It truly represents a significant leap into the 21st Century for medical education in Portugal. The first batch of doctors (Masters in Medicine in Bologna parlance) is expected to graduate in July 2013. The medical course is a new “offspring” within the University of Algarve and, if properly nurtured, will firmly put the University in the world map of medical education.</p>

                                <p> </p>

                                <p><strong>Address:</strong></p>

                                <p>Departamento de Ciências Biomédicas e Medicina (DCBM)</p>

                                <p>Campus de Gambelas, Edifício 7</p>

                                <p>8005-139 Faro - PORTUGAL</p>

                                <p>General Enquiries: <a href="mailto:dcbm@ualg.pt">dcbm@ualg.pt</a></p>

                                <p>Mobility Coordinator: <a href="mailto:mobdcbm@ualg.pt">mobdcbm@ualg.pt</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


