
@{
    ViewBag.Title = "Mobility";
}
<style>
    #mobi {
        width: 920px;
        left: 25%;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }

    img.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Campus</a></li>
    <li class="active"><a href="#">Mobility</a></li>
</ol>
<h2>Mobility</h2>
<div id="mobi">
    <p><img class="center" src="/Images/mobi.jpg" alt="mobility" /></p>
    <p>To ensure in an integrated way the coordination and development of the international cooperation, the University of Algarve has an International and Mobility Office, which has as its main function to inform, accompany and manage all international cooperation programmes in Higher Education, in which the University participates.</p>
    <p>The International and Mobility Office develops, promotes and coordinates international activities at the University. This involves, among other things, support and feedback to the university management on internationalisation issues, and developing agreements for the academic exchange and research cooperation.</p>
    <p>This Office works closely with its Faculties and Schools for the development of, and support to, the internationalization process, and articulates with internal and external services, managing all mobility programmes.</p>
    <p>It provides information and advice on pre-arrival needs (visa information), arrival orientation (accommodation, bank account, residence permit) and cultural integration (Portuguese language courses, welcome meetings, cultural events). </p>
    <p>The International & Mobility Office is located at the Campus of Gambelas, in the Library Building (C5).</p>
</div>



