@{
    ViewBag.Title = "About";
}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active"><a href="#">About</a></li>
</ol>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website aims to provide foreign student at Universidade do Algarve with some useful information and a way to share their experiences with others that are in the same situation.</p>
