@{
    ViewBag.Title = "Contact";
}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active"><a href="#">Contact</a></li>
</ol>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Universidade do Algarve<br />
    Campus de Gambelas<br />
    <abbr title="Phone">P:</abbr>
    +351 289 800 000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:a11709@ualg.pt">a11709@ualg.pt</a><br />
</address>